@import url(https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Muli;
}
.display-1 {
  font-family: 'Muli', sans-serif;
  font-size: 3.4375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 3.4375rem;
}
.display-2 {
  font-family: 'Muli', sans-serif;
  font-size: 2.5rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-4 {
  font-family: 'Muli', sans-serif;
  font-size: 0.875rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.875rem;
}
.display-5 {
  font-family: 'Muli', sans-serif;
  font-size: 1.875rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.125rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.75rem;
    font-size: calc( 1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.853125rem + (3.4375 - 1.853125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.7rem;
    font-size: calc( 0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.95625rem + (0.875 - 0.95625) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 5px 10px;
  border-radius: 6px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 25px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #4f87fb !important;
}
.bg-success {
  background-color: #ffffff !important;
}
.bg-info {
  background-color: #6d7a8c !important;
}
.bg-warning {
  background-color: #e6ecf2 !important;
}
.bg-danger {
  background-color: #ececec !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0654f8 !important;
  border-color: #0654f8 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #130947 !important;
  border-color: #130947 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #010003 !important;
  border-color: #010003 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4c5561 !important;
  border-color: #4c5561 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
  color: #4a6d8f !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4a6d8f !important;
  background-color: #b4c6d8 !important;
  border-color: #b4c6d8 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #ececec !important;
  border-color: #ececec !important;
  color: #6d6d6d !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #6d6d6d !important;
  background-color: #c6c6c6 !important;
  border-color: #c6c6c6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #054cdf;
  color: #054cdf;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #4f87fb;
  border-color: #4f87fb;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  border-color: #4f87fb !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #130947;
  border-color: #130947;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #130947 !important;
  border-color: #130947 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #404853;
  color: #404853;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #6d7a8c;
  border-color: #6d7a8c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #6d7a8c !important;
  border-color: #6d7a8c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #cccccc;
  color: #cccccc;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #a3b9cf;
  color: #a3b9cf;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #4a6d8f;
  background-color: #e6ecf2;
  border-color: #e6ecf2;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4a6d8f !important;
  background-color: #e6ecf2 !important;
  border-color: #e6ecf2 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #b9b9b9;
  color: #b9b9b9;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #6d6d6d;
  background-color: #ececec;
  border-color: #ececec;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #6d6d6d !important;
  background-color: #ececec !important;
  border-color: #ececec !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #4f87fb !important;
}
.text-secondary {
  color: #130947 !important;
}
.text-success {
  color: #ffffff !important;
}
.text-info {
  color: #6d7a8c !important;
}
.text-warning {
  color: #e6ecf2 !important;
}
.text-danger {
  color: #ececec !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #054cdf !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #cccccc !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #404853 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a3b9cf !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b9b9b9 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #6d7a8c;
}
.alert-warning {
  background-color: #e6ecf2;
}
.alert-danger {
  background-color: #ececec;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4f87fb;
  border-color: #4f87fb;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4f87fb;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b4bbc5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.scrollToTop_wraper {
  display: none !important;
}
.form-control {
  font-family: 'Muli', sans-serif;
  font-size: 1.125rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.125rem;
}
blockquote {
  border-color: #4f87fb;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.btn-primary:hover {
  color: #ffffff !important;
  background: #130947 !important;
  border-color: #130947 !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4f87fb;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4f87fb;
  border-bottom-color: #4f87fb;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4f87fb !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #130947 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%234f87fb' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sizIHVqlLa {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #e6ecf2;
}
.cid-sizIHVqlLa .container {
  margin-bottom: 70px;
}
.cid-sizIHVqlLa .container .mbr-section-subtitle {
  color: #4f87fb;
  font-weight: 800;
  margin-bottom: 10px;
}
.cid-sizIHVqlLa .container .mbr-section-subtitle.display-4 {
  font-size: 13px;
  line-height: 1.85;
  letter-spacing: 2px;
}
.cid-sizIHVqlLa .container .mbr-section-title,
.cid-sizIHVqlLa .container .signature {
  color: #130947;
}
.cid-sizIHVqlLa .container .mbr-section-title {
  margin-bottom: 20px;
}
.cid-sizIHVqlLa .container .mbr-section-title.display-2 {
  line-height: 1.2;
  letter-spacing: -0.5px;
}
.cid-sizIHVqlLa .container .mbr-text {
  line-height: 1.5;
  letter-spacing: 0;
  color: #6d7a8c;
}
.cid-sizIHVqlLa .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 0rem;
}
.cid-sizIHVqlLa .carousel-item > div {
  width: 100%;
}
.cid-sizIHVqlLa .carousel-item.active,
.cid-sizIHVqlLa .carousel-item-next,
.cid-sizIHVqlLa .carousel-item-prev {
  display: flex;
}
.cid-sizIHVqlLa .carousel-indicators {
  left: 0%;
  margin: 20px auto 0;
  align-items: center;
  bottom: -40px !important;
}
.cid-sizIHVqlLa .carousel-indicators .active {
  opacity: 1;
  border: 0;
  background-color: #4f87fb !important;
}
.cid-sizIHVqlLa .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  transition: opacity 0.5s;
  background-color: #ffffff;
  font-size: 2rem;
  opacity: 0.5;
  border-width: 0px;
  border: 1px solid #e5e8ef;
}
.cid-sizIHVqlLa .carousel-indicators li:hover {
  opacity: 1;
}
@media (max-width: 991px) {
  .cid-sizIHVqlLa .carousel-controls {
    display: none;
  }
}
.cid-sizIHVqlLa .carousel-controls a {
  transition: opacity 0.5s;
  font-size: 1.2rem;
}
.cid-sizIHVqlLa .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  color: #ffffff;
  background: #4f87fb;
  opacity: 0.9;
}
.cid-sizIHVqlLa .carousel-controls a:hover span {
  opacity: 1;
}
.cid-sizIHVqlLa .card {
  display: block;
  background-color: #ffffff;
  border-bottom: 1px solid #4f87fb;
  border-radius: 4px;
  padding: 15px;
  padding-bottom: 20px;
}
.cid-sizIHVqlLa .card .service-icon {
  text-align: center;
  position: relative;
}
.cid-sizIHVqlLa .card .service-icon-wrapper {
  color: #ffffff;
  height: 64px;
  width: 64px;
  display: inline-block;
  border-radius: 50%;
  margin-bottom: 30px;
  position: relative;
  margin-top: -35px;
}
.cid-sizIHVqlLa .card .service-icon .front {
  padding: 18px;
  border-radius: 100%;
  background-color: #4f87fb;
  color: #ffffff;
  font-size: 1.8rem;
  transition: 0.6s all;
  z-index: 9;
  position: relative;
}
.cid-sizIHVqlLa .card .service-icon:after {
  opacity: 0.5;
  background-color: #4f87fb;
  width: 76px;
  height: 76px;
  content: '';
  position: absolute;
  top: -34px;
  left: 50%;
  margin-left: -13%;
  border-radius: 50%;
  z-index: 0;
}
.cid-sizIHVqlLa .card .signature {
  padding-bottom: 10px;
  margin-bottom: 20px;
  color: #130947;
  font-weight: 7800;
}
.cid-sizIHVqlLa .card .signature.display-7 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.5px;
}
.cid-sizIHVqlLa .card .card-text {
  margin-bottom: 25px;
  color: #6d7a8c;
  font-weight: 400;
}
.cid-sizIHVqlLa .card .card-text.display-7 {
  font-size: 16px;
  line-height: 1.5;
}
.cid-sizIHVqlLa .card .mbr-section-btn {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 21.7px;
}
.cid-sizIHVqlLa .card .mbr-section-btn .link {
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #4f87fb;
}
.cid-sizIHVqlLa .card .mbr-section-btn .link:not(:first-child) {
  margin-left: 25px;
}
.cid-sizIHVqlLa .card .mbr-section-btn a.text-white:hover,
.cid-sizIHVqlLa .card .mbr-section-btn a.text-white:focus {
  color: #000000 !important;
}
@media (min-width: 992px) {
  .cid-sizIHVqlLa .carousel-item {
    padding: 0 2rem;
  }
}
@media (min-width: 768px) {
  .cid-sizIHVqlLa .carousel-controls a {
    width: 5%;
  }
}
.cid-sizO3AjF6p {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #25303e;
}
.cid-sizO3AjF6p .brand {
  display: flex;
  margin-left: 1rem;
  padding: 0.5rem 0;
  -webkit-transition: padding 0.2s;
  transition: padding 0.2s;
  min-height: 3.8rem;
  -webkit-box-align: center;
  align-items: center;
}
.cid-sizO3AjF6p .brand .caption-wrap {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-sizO3AjF6p .brand .caption-wrap .mbr-white {
  transition: all 0.3s;
}
.cid-sizO3AjF6p .brand .caption-wrap .mbr-white:hover {
  color: #ffffff;
}
.cid-sizO3AjF6p .brand .logo {
  font-size: 4rem;
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}
.cid-sizO3AjF6p .brand .logo img {
  display: flex;
  width: auto;
}
.cid-sizO3AjF6p .brand .logo .mbr-iconfont {
  -webkit-transition: font-size 0.25s;
  transition: font-size 0.25s;
}
.cid-sizO3AjF6p .form-row {
  position: relative;
}
.cid-sizO3AjF6p .form-control {
  padding: 1.8rem 1rem 1.8rem 1.25rem;
  border-radius: 3px 0 0 3px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  font-size: 0.875rem;
  max-height: 59px;
}
.cid-sizO3AjF6p .form-group,
.cid-sizO3AjF6p .input-group-btn {
  padding: 0;
  margin: 0;
}
.cid-sizO3AjF6p .input-group-btn {
  display: inline-block;
  -webkit-align-self: center;
  align-self: center;
  z-index: 3;
}
.cid-sizO3AjF6p .input-group-btn .btn {
  -webkit-flex: 0 0 auto;
  height: 59px;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding: 0.625rem 2.1875rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.cid-sizO3AjF6p .input-group-btn .btn-primary:hover {
  background-color: #4f87fb !important;
  color: #ffffff !important;
  border-color: #4f87fb !important;
}
.cid-sizO3AjF6p a:not([href]):not([tabindex]) {
  color: #fff;
}
.cid-sizO3AjF6p a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-sizO3AjF6p .social-list {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cid-sizO3AjF6p .soc-item {
  width: 40px;
  height: 40px;
  background: #4f87fb;
  border-radius: 100%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  margin: 0 0.25rem;
}
.cid-sizO3AjF6p .soc-item span {
  font-size: 1rem;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cid-sizO3AjF6p .soc-item:hover {
  background: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.cid-sizO3AjF6p .soc-item:hover span {
  color: #000000 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 991px) {
  .cid-sizO3AjF6p .social-list {
    margin-top: 50px;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
  .cid-sizO3AjF6p .brand {
    margin-bottom: 50px;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .cid-sizO3AjF6p .input-group-btn > * {
    width: 100%;
  }
  .cid-sizO3AjF6p .btn .mbr-iconfont {
    font-size: 1.6rem !important;
  }
}
@media (max-width: 350px) {
  .cid-sizO3AjF6p .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  .cid-sizO3AjF6p .form-control {
    margin-bottom: 10px;
  }
  .cid-sizO3AjF6p .input-group-btn .btn,
  .cid-sizO3AjF6p .form-control {
    border-radius: 3px;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sizO3AjF6p .form-control {
    font-size: 1.12rem;
  }
}
